<div class="image" style="background-image: url('https://cdn.pixabay.com/photo/2016/12/13/22/15/chart-1905225_1280.jpg');  
background-size: cover; padding-top: 50px; padding-bottom: 30%;">

    <div class="alert alert-danger" *ngIf='success'>{{success}}
        <span class="float-right">
            <button (click)='deleteMessage()'>&times;</button>
        </span>
    </div>
    <h2 class="font-weight-bold text-center text-light">
        Stock Details
    </h2>
    <div class="col-md-9">
        <table class="table table-bordered mt-3" style="margin-left: 15%; margin-right: 20px;">
            <thead class="thead text-center">
                <tr>
                    <th scope="col">Stock Id</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock Quantity</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                    <tr *ngFor='let stock of stocks'>
                        <td>{{stock.stockId}}</td>
                        <td>{{stock.price}}</td>
                        <td>{{stock.stockQuantity}}</td>
                        <td>{{stock.companyName}}</td>
                        <td>
                            <button class=" btn btn-outline-success " (click)='selectStock(stock)'>
                                Update
                            </button>
                        <td>
                            <img style="margin-left: 15px " height="40px " width="50px "
                                src="https://cdn.pixabay.com/photo/2016/10/10/01/49/delete-1727486__340.png"
                                (click)=' deleteStock(stock)'>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>
