.navbar {
    background-color: #0099FF;
    margin: 20px;
    border: 1px solid black;
    opacity: 0.9;
    /* filter: alpha(opacity=100); */
}

.navbar-brand {
    font-family: 'Times New Roman', Times, serif;
    color: #FFFF;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.button {
    font-family: 'Times New Roman', Times, serif;
}

.dropdown-item.text-dark.font-weight-bold {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 5px blueviolet;
    font-size: 20px;
}

.nav-item.dropdown:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #006699;
}

.navbar-brand.pulse:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes flip {
    0% {
        transform: translateZ(0) rotateY(0) scale(1) perspective(400px);
        animation-timing-function: ease-out;
    }
    30% {
        transform: translateZ(150px) rotateY(170deg) scale(1) perspective(400px);
        animation-timing-function: ease-out;
    }
    50% {
        transform: translateZ(150px) rotateY(190deg) scale(1) perspective(400px);
        animation-timing-function: ease-in;
    }
    80% {
        transform: translateZ(0) rotateY(360deg) scale(0.90) perspective(400px);
        animation-timing-function: ease-in;
    }
    100% {
        transform: translateZ(0) rotateY(360deg) scale(1) perspective(400px);
        animation-timing-function: ease-in;
    }
}

.nav-link.font-weight-bold.flip:hover {
    animation-name: flip;
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}