<nav class="navbar navbar-expand-md bg-dark ">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-light font-italic font-weight-bold" routerLink="add-stock">Add Stocks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light font-italic font-weight-bold" routerLink="delete-stock">Delete Stocks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light font-italic font-weight-bold" routerLink="update-stock">Update Stocks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light font-italic font-weight-bold" routerLink="get-all-stock">View All Stocks</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>