<div class="background">
    <div class="card">
        <form action="#" method="post">
            <div class="card-header">
                <h4
                    style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;text-align: center; padding-bottom: 10px;">
                    Forgot Password</h4>
                <img
                    src="https://www.campriverridge.org/uploads/1/1/5/3/115340305/de9fb5-c8bff58a7790477e95f50c65620ecfe0-mv2_orig.png" height="70%" width="70%">
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="email"> Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email address" email
                        required>
                    <small id="email" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password" required>
                    <small id="password" class="form-text text-muted">*Should be atleast 6-8 characters.</small>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>

                <a routerLink="/"></a>
            </div>
        </form>
    </div>
</div>