<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="3000">
        <img src="https://in.bmscdn.com/showcaseimage/eventimage/ramprasad-ki-tehrvi-29-05-2020-09-09-58-838.jpg" onload="" alt="Ramprasad Ki Tehrvi" class="__bg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="3000">
        <img src="https://in.bmscdn.com/showcaseimage/eventimage/beyond-limits-virtual-run-20-21-05-2020-06-42-40-688.jpg" onload="" alt="Beyond Limits-Virtual Run 2.0" class="__bg"class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="3000">
        <img src="https://in.bmscdn.com/showcaseimage/eventimage/-stayfitindiachallenge-21-05-2020-10-07-01-450.jpg" onload="showCaseHandler.setStatus(true);" alt="#StayFitIndiaChallenge" class="__bg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="3000">
        <img src="https://in.bmscdn.com/showcaseimage/eventimage/pubg-mobile-elite-champions-16-05-2020-12-59-14-995.jpg"  onload="showCaseHandler.setStatus(true);" alt="#StayFitIndiaChallenge" class="__bg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://in.bmscdn.com/showcaseimage/eventimage/-stayfitindiachallenge-21-05-2020-10-07-01-450.jpg" onload="showCaseHandler.setStatus(true);" alt="#StayFitIndiaChallenge" class="__bg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/No-Time-To-Die-English-App-poster-608x800-eb081ead-e27e-4db1-83be-b6b4a7c2ce68.jpg" alt="No Time To Die"class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">No Time To Die</h5>
          <p class="card-text">English</p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BIhNsAtPbPI" allowfullscreen></iframe>
          </div><br><button type="button" class="btn btn-lg btn-info" data-toggle="modal" title="Movie Details" data-target="#myModal">Description</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" style="padding-left: 2px;font-style: italic;font-family: 'Times New Roman', Times, serif;">Genre:Drama,Family</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>   
                </div>
                <div class="modal-body" style="font-family: 'Times New Roman', Times, serif;">
                  <p>Release Date: 11 November 2020</p>
                  <p>Rated: 4.3</p>
                  <p>IMDB Rating: 8.5</p>
                  <p>Director: Cary Joji Fukunaga</p>
                  <p>Writer: KV Vijayendra</p>
                  <p>Cast: Daniel Craig</p>
                  <p>Plot: Spy film and the twenty-fifth instalment in the James Bond film<br> series produced by Eon Productions. It features Daniel Craig in<br> his fifth and final outing as the fictional MI6 agent James Bond</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Interested</button>
                </div>
              </div> 
            </div>
          </div>
        <button type="button" class="btn btn-outline-danger font-weight-bold" routerLink="/book-now"><span><i class="fa fa-ticket" aria-hidden="true"></i>book-now</span></button>
        </div>
      </div>
    </div>
     <div class="col mb-4">
      <div class="card h-100">
        <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/Chhalaang-App-poster-608x800-cb8e38e0-61fc-4824-a098-b92df61de78b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chhalaang</h5>
          <p class="card-text">Hindi</p>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iU6ofJyB1A0" allowfullscreen></iframe>
          </div><br><button type="button" class="btn btn-lg btn-info" data-toggle="modal" title="Movie Details" data-target="#myModal" (click)="Chhalaang()">Description</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <!-- <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" style="padding-left: 2px;font-style: italic;font-family: 'Times New Roman', Times, serif;">Genre:Drama,Family</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>   
                </div>
                <div class="modal-body1" style="font-family: 'Times New Roman', Times, serif;">
                  <p>Release Date: 12 June 2020</p>
                  <p>Rated:3.4</p>
                  <p>IMDB Rating: 6.5</p>
                  <p>Director: Hansal Mehta</p>
                  <p>Writer: Luv Ranjan </p>
                  <p>Cast: ‎Rajkummar Rao‎; ‎Nushrat Bharucha</p>
                  <p>Plot: Chhalaang is an upcoming Indian Hindi-language <br>social black comedy film directed by Hansal Mehta <br>starring Rajkummar Rao and Nushrat Bharucha. It is<br> produced by Ajay Devgn and Bhushan Kumar.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Interested</button>
                </div>
              </div> 
            </div>
          </div>  -->        
          <button type="button" class="btn btn-outline-danger font-weight-bold" routerLink="/book-now" style="align-items: right;"><span><i class="fa fa-ticket" aria-hidden="true"></i>book-now</span></button>
        </div>
      </div>
    </div>
     <div class="col mb-4">
      <div class="card h-100">
        <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/Bunty-Aur-Babli-2-App-poster-608x800-f63b1342-067a-4084-ad9f-2809ce0ece6f.jpg" alt="Bunty Aur Babli 2" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Bunty Aur Babli 2</h5>
          <p class="card-text">Hindi</p>
          <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qmXbi6AkCuo" allowfullscreen></iframe>
          </div><br><button type="button" class="btn btn-lg btn-info" data-toggle="modal" title="Movie Details" data-target="#myModal">Description</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" style="padding-left: 2px;font-style: italic;font-family: 'Times New Roman', Times, serif;">Genre:Drama,Family</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>   
                </div>
                <div class="modal-body" style="font-family: 'Times New Roman', Times, serif;">
                  <p>Release Date: 26 June 2020</p>
                  <p>Rated: 3.4</p>
                  <p>IMDB Rating: 8.3</p>
                  <p>Director: Varun V. Sharma</p>
                  <p>Writer: Aditya Chopra</p>
                  <p>Cast: Saif Ali Khan,Rani Mukherjee</p>
                  <p>Plot:Bunty Aur Babli 2 is an upcoming 2020 Indian Hindi-language<br> crime comedy film produced by Aditya Chopra. It is directed<br> by Varun V. Sharma, in his directorial debut, and serves<br> as a spiritual sequel to the 2005 film Bunty Aur Babli </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Interested</button>
                </div>
              </div> 
            </div>
          </div>
          <button type="button" class="btn btn-outline-danger font-weight-bold" routerLink="/book-now" style="align-items: right;"><span><i class="fa fa-ticket" aria-hidden="true"></i>book-now</span></button>
        </div>
      </div>
    </div>
   <div class="col mb-4">
      <div class="card h-100">
        <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/Soul-App-poster-608x800-App-poster-608x800-a-3cd77de3-4ece-4d15-874f-0360d093deb7.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Soul</h5>
          <p class="card-text">English</p>
           <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/xOsLIiBStEs" allowfullscreen></iframe>
        </div><br><button type="button" class="btn btn-lg btn-info" data-toggle="modal" title="Movie Details" data-target="#myModal">Description</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" style="padding-left: 2px;font-style: italic;font-family: 'Times New Roman', Times, serif;">Genre:Drama,Family</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>   
              </div>
              <div class="modal-body" style="font-family: 'Times New Roman', Times, serif;">
                <p>Release Date: 19 June 2020</p>
                <p>Rated: 4.1</p>
                <p>IMDB Rating: 8.9</p>
                <p>Director: Pete Docter</p>
                <p>Writer: Dana Leigh Murray</p>
                <p>Cast: Pete Docter, Tina Fey, Mike Jones, Kemp Powers</p>
                <p>Plot: Joe is a middle-school band teacher whose<br> life hasn't quite gone the way he expected. His<br> true passion is jazz -- and he's good. But when he travels to another realm to help<br> someone find their passion, he soon discovers what it means to have soul.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Interested</button>
              </div>
            </div> 
          </div>
        </div>
        <button type="button" class="btn btn-outline-danger font-weight-bold" routerLink="/book-now" style="align-items: right;"><span><i class="fa fa-ticket" aria-hidden="true"></i>book-now</span></button>
        </div>
      </div>
    </div>
     <div class="col mb-4">
        <div class="card h-100">
          <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/Jungle-Cruise-App-poster-608x800-App-poster-608x800-a-1b7a218d-1de6-48a5-ac4d-c9595542b7ce.jpg" alt="Jungle Cruise" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Jungle Cruise</h5>
            <p class="card-text">English</p>
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/f_HvoipFcA8" allowfullscreen></iframe>
        </div><br><button type="button" class="btn btn-lg btn-info" data-toggle="modal" title="Movie Details" data-target="#myModal">Description</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" style="padding-left: 2px;font-style: italic;font-family: 'Times New Roman', Times, serif;">Genre:Drama,Family</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>   
              </div>
              <div class="modal-body" style="font-family: 'Times New Roman', Times, serif;">
                <p>Release Date: 24 July 2020</p>
                <p>Rated: PG</p>
                <p>IMDB Rating: 7.5</p>
                <p>Director: Jaume Collet-Serra</p>
                <p>Writer: John Davis</p>
                <p>Cast: Patrick McKay, Michael Green, John Norville</p>
                <p>Plot: Dr. Lily Houghton enlists the aid of wisecracking skipper <br>Frank Wolff to take her down the Amazon in his ramshackle boat. Together, <br>they search for an ancient tree that holds the power to heal <br> a discovery that will change the future of medicine. </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Interested</button>
              </div>
            </div> 
          </div>
        </div>
        <button type="button" class="btn btn-outline-danger font-weight-bold" routerLink="/book-now" style="align-items: right;"><span><i class="fa fa-ticket" aria-hidden="true"></i>book-now</span></button>
          </div>
        </div>
      </div>
      <div class="col mb-4">
        <div class="card h-100">
          <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/Bhool-Bhulaiyaa-2-e61e50fc-f7bd-48aa-8391-655934d2aa07.jpg" alt="Bhool Bhulaiya 2" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Bhool Bhulaiyaa 2</h5>
            <p class="card-text">Hindi</p>
            <div class="embed-responsive embed-responsive-16by9">
             <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/w_VBaP77Ios" allowfullscreen></iframe>
        </div><br><button type="button" class="btn btn-lg btn-info" data-toggle="modal" title="Movie Details" data-target="#myModal">Description</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" style="padding-left: 2px;font-style: italic;font-family: 'Times New Roman', Times, serif;">Genre:Drama,Family</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>   
              </div>
              <div class="modal-body" style="font-family: 'Times New Roman', Times, serif;">
                <p>Release Date:31 July 2020 </p>
                <p>Rated: 4.2</p>
                <p>IMDB Rating: 8.5</p>
                <p>Director: ‎Anees Bazmee</p>
                <p>Writer: ‎Anees Bazmee</p>
                <p>Cast: Kartik Aaryan and Kiara advani </p>
                <p>Plot: Bhool Bhulaiyaa 2 is an upcoming Indian Hindi-language <br>comedy horror film directed by Anees Bazmee and produced<br> by Bhushan Kumar. Starring Kartik Aaryan, Tabu, and Kiara Advani<br>, it is a standalone sequel of the 2007 </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Interested</button>
              </div>
            </div> 
          </div>
        </div>
        <button type="button" class="btn btn-outline-danger font-weight-bold" routerLink="/book-now" style="align-items: right;"><span><i class="fa fa-ticket" aria-hidden="true"></i>book-now</span></button>
          </div>
        </div>
      </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/Gangubai-Kathiawadi-App-poster-608x800-a-239d631b-313e-425c-9da6-e010dea78cd5.jpg" alt="Gangubai Kathiawadi" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Gangubai Kathiawadi</h5>
        <p class="card-text">Hindi</p>
        <div class="embed-responsive embed-responsive-16by9">
             <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-fk-GnXqhtA" allowfullscreen></iframe>
        </div><br><button type="button" class="btn btn-lg btn-info" data-toggle="modal" title="Movie Details" data-target="#myModal">Description</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" style="padding-left: 2px;font-style: italic;font-family: 'Times New Roman', Times, serif;">Genre:Drama,Family</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>   
              </div>
              <div class="modal-body" style="font-family: 'Times New Roman', Times, serif;">
                <p>Release Date: 11 September 2020</p>
                <p>Rated: PG</p>
                <p>IMDB Rating: 8.2</p>
                <p>Director: Sanjay Leela Bhansali</p>
                <p>Writer: ‎Hussain Zaidi</p>
                <p>Cast: ‎Alia Bhatt‎; ‎Shantanu Maheshwari‎; </p>
                <p>Plot:Gangubai Kathiawadi is an upcoming Indian biographical crime<br> film directed by Sanjay Leela Bhansali, written by Utkarshini Vashishtha and <br>produced by Bhansali and Jayantilal Gada under their respective banners Bhansali<br> Productions and Pen India Limited.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Interested</button>
              </div>
            </div> 
          </div>
        </div>
        <button type="button" class="btn btn-outline-danger font-weight-bold" routerLink="/book-now" style="align-items: right;"><span><i class="fa fa-ticket" aria-hidden="true"></i>book-now</span></button>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/black-adam-App-poster-608x800-af8faa75-a107-4d62-9313-04f1b5fab095.jpg" alt="Black Adam" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Black Adam</h5>
        <p class="card-text">English</p>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u5eLgTj-afM" allowfullscreen></iframe>
        </div><br><button type="button" class="btn btn-lg btn-info" data-toggle="modal" title="Movie Details" data-target="#myModal">Description</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" style="padding-left: 2px;font-style: italic;font-family: 'Times New Roman', Times, serif;">Genre:Drama,Family</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>   
              </div>
              <div class="modal-body" style="font-family: 'Times New Roman', Times, serif;">
                <p>Release Date:22 December 2021 </p>
                <p>Rated: 3.8</p>
                <p>IMDB Rating: 9.5</p>
                <p>Director: Jaume Collet-Serra </p>
                <p>Writer: Dwayne Johnson</p>
                <p>Cast: Dwayne Johnson</p>
                <p>Plot: Black Adam is a fictional supervillain appearing in American comic<br> books published by DC Comics. Created by Otto Binder and C. C. Beck, <br>the character is an arch-enemy of Shazam, and the <br>nemesis of the Shazam Family.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Interested</button>
              </div>
            </div> 
          </div>
        </div>
        <button type="button" class="btn btn-outline-danger font-weight-bold" routerLink="/book-now" style="align-items: right;"><span><i class="fa fa-ticket" aria-hidden="true"></i>book-now</span></button>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/Takht-App-poster-608x800-245910df-ed89-4323-9d6c-69cfae5a6878.jpg" alt="Takht" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Takht</h5>
        <p class="card-text">Hindi</p>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/sVBpNVu3Byc" allowfullscreen></iframe>
    </div><br><button type="button" class="btn btn-lg btn-info" data-toggle="modal" title="Movie Details" data-target="#myModal">Description</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="padding-left: 2px;font-style: italic;font-family: 'Times New Roman', Times, serif;">Genre:Drama,Family</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>   
          </div>
          <div class="modal-body" style="font-family: 'Times New Roman', Times, serif;">
            <p>Release Date: December 24, 2021</p>
            <p>Rated: PG</p>
            <p>IMDB Rating: 7.5</p>
            <p>Director: Karan Johar</p>
            <p>Writer: KV Vijayendra Prasad</p>
            <p>Cast: Ranveer Singh, Kareena Kapoor</p>
            <p>Plot: Takht is a Bollywood action-drama, helmed <br>by Karan Johar. The movie stars Ranveer Singh, Kareena Kapoor Khan, Alia Bhatt,<br> Vicky Kaushal, Bhumi Pednekar, Janhvi Kapoor and Anil Kapoor <br>in the lead roles.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Interested</button>
          </div>
        </div> 
      </div>
    </div>
    <button type="button" class="btn btn-outline-danger font-weight-bold" routerLink="/book-now" style="align-items: right;"><span><i class="fa fa-ticket" aria-hidden="true"></i>book-now</span></button>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/Heropanti2-tagApp-poster-608x800-e151a3f0-d9e6-4a4a-94b8-d2bdbe4f1b96.jpg" alt="Heropanti 2" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Heropanti 2</h5>
        <p class="card-text">Hindi</p>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/nwmw5V2UxqQ" allowfullscreen></iframe>
    </div><br><button type="button" class="btn btn-lg btn-info" data-toggle="modal" title="Movie Details" data-target="#myModal">Description</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="padding-left: 2px;font-style: italic;font-family: 'Times New Roman', Times, serif;">Genre:Drama,Family</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>   
          </div>
          <div class="modal-body" style="font-family: 'Times New Roman', Times, serif;">
            <p>Release Date: 16 July 2021</p>
            <p>Rated: 3.8</p>
            <p>IMDB Rating: 8.5</p>
            <p>Director: Sabir Khan</p>
            <p>Writer:Sabir Khan </p>
            <p>Cast: Tiger Shroff</p>
            <p>Plot: A action movie in which man loves a woman, whose family does not believe in love. </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Interested</button>
          </div>
        </div> 
      </div>
    </div>
    <button type="button" class="btn btn-outline-danger font-weight-bold" routerLink="/book-now" style="align-items: right;"><span><i class="fa fa-ticket" aria-hidden="true"></i>book-now</span></button>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card h-100">
      <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/Bachchan-Pandey-APP-608x800-c70c57c1-49bc-4e73-8ad1-8569d71e86d2.jpg" alt="Bachchan Pandey" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Bachchan Pandey</h5>
        <p class="card-text">Hindi</p>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uGMikf91Kw4" allowfullscreen></iframe>
    </div><br><button type="button" class="btn btn-lg btn-info" data-toggle="modal" title="Movie Details" data-target="#myModal">Description</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" style="padding-left: 2px;font-style: italic;font-family: 'Times New Roman', Times, serif;">Genre:Drama,Family</h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>   
          </div>
          <div class="modal-body" style="font-family: 'Times New Roman', Times, serif;">
            <p>Release Date:  22 January 2021</p>
            <p>Rated: PG</p>
            <p>IMDB Rating: 7.5</p>
            <p>Director: Farhad Samji </p>
            <p>Writer: KV Vijayendra Prasad</p>
            <p>Cast:Akshay Kumar,Kriti Sanon </p>
            <p>Plot: Bachchan Pandey is upcoming action drama film directed<br> by Farhad Samji, starring Akshay Kumar and Kriti Sanon.Akshay Kumar<br> shifted the release date of his film to ensure an uninterrupted release<br> of Aamir Khan's Laal Singh Chaddha..</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal">Interested</button>
          </div>
        </div> 
      </div>
    </div>
    <button type="button" class="btn btn-outline-danger font-weight-bold" routerLink="/book-now" style="align-items: right;"><span><i class="fa fa-ticket" aria-hidden="true"></i>book-now</span></button>
      </div>
    </div>
  </div>
<div class="col mb-4">
    <div class="card h-100">
      <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/Thalaivi-with-new-tab-App-poster-608x800-90f89753-0365-4035-bfe1-808549dbaffb.jpg" alt="Thalaivi" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Thalaivi</h5>
        <p class="card-text">Telugu</p>
        <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lq9oXQiPldI" allowfullscreen></iframe>
    </div><br> <button type="button" class="btn btn-lg btn-info" data-toggle="modal" title="Movie Details" data-target="#myModal">Description</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="padding-left: 2px;font-style: italic;font-family: 'Times New Roman', Times, serif;">Genre:Drama,Family</h5>
              <button type="button" class="close" data-dismiss="modal">&times;</button>   
            </div>
            <div class="modal-body" style="font-family: 'Times New Roman', Times, serif;">
              <p>Release Date: 26 Jun'20</p>
              <p>Rated: PG</p>
              <p>IMDB Rating: 7.5</p>
              <p>Director: A.L. Vijay</p>
              <p>Writer: KV Vijayendra Prasad</p>
              <p>Cast: Kangana Ranaut,Arvind Swami</p>
              <p>Plot: A biographical drama, the movie chronicles the life<br> and times of J. Jayalalithaa, the late politician and<br> film actress who served as the Chief Minister<br> of Tamil Nadu. With Kangana Ranaut portraying the role<br> of the renowned personality, the movie is set to release<br> in Tamil, Telugu and Hindi simultaneously.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-dismiss="modal">Interested</button>
            </div>
          </div> 
        </div>
      </div>
      
    <!-- </div> -->
    
    <button type="button" class="btn btn-outline-danger font-weight-bold" routerLink="/book-now" style="align-items: right;"><span><i class="fa fa-ticket" aria-hidden="true"></i>book-now</span></button>
    
      </div>
    </div>
  </div>
</div>
