input {
    border-color: #007bff;
}

.card {
    background-color: lightcyan;
}
h2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: blue;
}
.btn{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: blue;
    color: white;
}
.text-dark{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}