<div class="vid-container">
    <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
        <source src="https://player.vimeo.com/external/226624975.sd.mp4?s=9c40db4cda60fee006e62c90e0fad26d1e488b65&profile_id=164" type="video/webm">
    </video>
    <div class="inner-container">
      <video class="bgvid inner" autoplay="autoplay" muted="muted" preload="auto" loop>
        <source src="https://player.vimeo.com/external/183629063.sd.mp4?s=0491b9b4f233c15d1309e11c7032463edb4c6e3d&profile_id=164" type="video/webm">
      </video>
      <div class="box">
        <h1><i class="fa fa-user"></i>Register Here</h1>
        <input type="text" placeholder="Name"/>
        <input type="email" placeholder="Email"/>
        <input type="password" placeholder="Password"/>
        <input type="role" placeholder="Investor" readonly/>
        <button><i class="fa fa-sign-in"></i> Register</button>   
      </div>
    </div> 
  </div>