.background {
    vertical-align: middle;
    padding-left: 35%;
    padding-right: 38%;
}

img {
    align-self: center;
    padding-left: 65px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}