<div class="image" style="background-image: url('https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877__340.jpg');  
background-size: cover; padding-top: 2%; padding-bottom: 8%;">
<div class="alert alert-success" *ngIf='success'>{{success}}</div>
<div class="alert alert-danger" *ngIf='failure'>{{failure}}</div>
<div class="background">
    <div class="card">

        <div class="card-header">
            <h4 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;text-align: center; padding-bottom: 10px;">
                Forgot Password</h4>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRnL0cu_oIBQD4TUSpaG025KwN8vZk6W765LS75JlX7BcUgcQFi&usqp=CAU" height="140px" width="230px">
        </div>

        <div class="card-body">
            <form #editManagerForm='ngForm' (ngSubmit)='forgotPassword(editManagerForm)'>
                <div class="form-group ">
                    <input type="hidden" name="userId" id="userId" #userId="ngModel" class="form-control" required [(ngModel)]='this.userService.userId'>
                    <label for="userId" class="text-dark font-weight-bold">UserId</label>
                    <input type="number" name="userId" id="userId" #userId="ngModel" class="form-control" ngModel></div>
                <div class="form-group">
                    <label for="userPassword" class="text-dark font-weight-bold">New Password</label>
                    <input type="password" name="userPassword" id="userPassword" #userPassword="ngModel" class="form-control" required ngModel>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>