<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand text-dark font-italic font-weight-bold" routerLink="/">
        <h3>Forestry Management System</h3>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold" routerLink="/admin" id="admin1" *ngIf='isAdmin()' role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item text-dark font-weight-bold" routerLink="/add-user">Add Users</a>
                    <a class="dropdown-item text-dark font-weight-bold" routerLink="/getall-users">GetAll Users</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold" routerLink="/scheduler" *ngIf='isScheduler()' id="scheduler2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Scheduler
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item text-dark font-weight-bold" routerLink="/haulier/getall-hauliers">Haulier</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-bold" routerLink="/client" id="client3" *ngIf='isClient()' role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Client
                </a>
                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item text-dark font-weight-bold" routerLink="/product/getall-products">Product</a>
                    <a class="dropdown-item text-dark font-weight-bold" routerLink="/contract/getall-contracts">Contract</a>
                    <a class="dropdown-item text-dark font-weight-bold" routerLink="/order/getall-orders">Order</a>
                    <a class="dropdown-item text-dark font-weight-bold" routerLink="/customer/getall-customers">Customer</a>
                </div>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button type="button" class="btn font-weight-bold btn-success" *ngIf='!isLoggedIn()' routerLink="/register"><span>Register</span></button>
            </li>&nbsp;&nbsp;&nbsp;
            <li class="nav-item active">
                <button type="button" class="btn font-weight-bold btn-success" *ngIf='!isLoggedIn()' routerLink="/login"><span>Login</span></button>
            </li>

            <li class="nav-item">
                <button type="button" class="btn font-weight-bold btn-success" *ngIf='isLoggedIn()' (click)='logout()' routerLink="/"><span>Logout</span></button>
            </li>
        </ul>

    </div>
</nav>