<div class="image" style="background-image: url('https://cdn.pixabay.com/photo/2017/08/28/19/15/background-2691002__340.jpg');  
background-size: cover; padding-top: 2%;">
    <div class="alert alert-success" *ngIf='success'>{{success}}</div>
    <div class="alert alert-danger" *ngIf='failure'>{{failure}}</div>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 offset-md-6">
                <div class="card">
                    <div class="card-header text-center font-weight-bold text-success">
                        <h2>Add Contract Details</h2>
                    </div>
                    <div class="card-body">
                        <form #addContractForm='ngForm' (ngSubmit)='addContract(addContractForm)'>
                            <div class="form-group mt-3">
                                <label for="contractNo1" class="text-dark font-weight-bold">contract Number <span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="contractNo1" #contractNo="ngModel" ngModel name="contractNo" minlength="1" maxlength="5" required pattern="[1-9]{1}[0-9]{0,4}">
                                <div class="text-danger" *ngIf='contractNo.invalid && contractNo.touched'>
                                    <div class="text-danger" *ngIf='contractNo.errors.required'>
                                        This feild is mandatory
                                    </div>
                                    <div class="text-danger" *ngIf='contractNo.errors.pattern'>
                                        First digit should not starts with 0
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label for="customerId2" class="text-dark font-weight-bold">Customer Id <span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="customerId2" #customerId="ngModel" ngModel name="customerId" minlength="1" maxlength="5" required pattern="[1-9]{1}[0-9]{0,4}">
                                <div class="text-danger" *ngIf='customerId.invalid && customerId.touched'>
                                    <div class="text-danger" *ngIf='customerId.errors.required'>
                                        This feild is mandatory
                                    </div>
                                    <div class="text-danger" *ngIf='customerId.errors.pattern'>
                                        First digit should not starts with 0
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="productId2" class="text-dark font-weight-bold">Product Id <span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="productId2" #productId="ngModel" ngModel required name="productId" minlength="1" maxlength="5" pattern="[1-9]{1}[0-9]{0,4}">
                                <div class="text-danger" *ngIf='productId.invalid && productId.touched'>
                                    <div class="text-danger" *ngIf='productId.errors.required'>
                                        This feild is mandatory
                                    </div>
                                    <div class="text-danger" *ngIf='productId.errors.pattern'>
                                        First digit should not starts with 0
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="haulierId2" class="text-dark font-weight-bold">Haulier Id <span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="haulierId2" #haulierId="ngModel" ngModel minlength="1" maxlength="5" required name="haulierId" pattern="[1-9]{1}[0-9]{0,4}">
                                <div class="text-danger" *ngIf='haulierId.invalid && haulierId.touched'>
                                    <div class="text-danger" *ngIf='haulierId.errors.required'>
                                        This feild is mandatory
                                    </div>
                                    <div class="text-danger" *ngIf='haulierId.errors.pattern'>
                                        First digit should not starts with 0
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="quantity1" class="text-dark font-weight-bold">Quantity <span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="quantity1" #quantity="ngModel" ngModel required name="quantity" minlength="1" maxlength="5" pattern="[1-9]{1}[0-9]{0,4}">
                                <div class="text-danger" *ngIf='quantity.invalid && quantity.touched'>
                                    <div class="text-danger" *ngIf='quantity.errors.required'>
                                        This feild is mandatory
                                    </div>
                                    <div class="text-danger" *ngIf='quantity.errors.pattern'>
                                        Length of the quantity should contains maximum 5 digits and should not starts with 0
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="deliveryDate1" class="text-dark font-weight-bold">Delivery date <span style="color:red">*</span></label>
                                <input type="date" class="form-control" id="deliveryDate1" #deliveryDate="ngModel" ngModel required name="deliveryDate" [(ngModel)]="today" [min]="miniDate" (change)='valueChanged()'>
                            </div>
                            <div class="form-group">
                                <label for="deliveryDay1" class="text-dark font-weight-bold">Delivery day <span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="deliveryDay1" #deliveryDay="ngModel" ngModel required name="deliveryDay" disabled [(ngModel)]="deliveryDayValue">
                            </div>
                            <div>
                                <button [disabled]='addContractForm.form.invalid' type="submit" class="btn btn-block btn-success btn-lg btn-block float-right mt-4">Add Contract</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>