<div class="alert alert-success" *ngIf='success'>{{success}}</div>
<div class="alert alert-danger" *ngIf='failure'>{{failure}}</div>
<div class="background">
    <div class="card">

        <div class="card-header">
            <h4 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;text-align: center; padding-bottom: 10px;">
                Forgot Password</h4>
            <img src="https://www.campriverridge.org/uploads/1/1/5/3/115340305/de9fb5-c8bff58a7790477e95f50c65620ecfe0-mv2_orig.png" height="70%" width="70%">
        </div>

        <div class="card-body">
            <form #editManagerForm='ngForm' (ngSubmit)='forgotPassword(editManagerForm)'>
                <div class="form-group ">
                    <input type="hidden" name="userId" id="userId" #userId="ngModel" class="form-control" required [(ngModel)]='this.userService.userId'>
                    <label for="email" class="text-dark font-weight-bold">Email</label>
                    <input type="email" name="email" id="email" #email="ngModel" class="form-control" ngModel></div>
                <div class="form-group">
                    <label for="password" class="text-dark font-weight-bold">New Password</label>
                    <input type="text" name="password" id="password" #password="ngModel" class="form-control" required ngModel>
                </div>
                <!-- <div class="form-group">
                    <label for="password" class="text-dark font-weight-bold">Confirm Password</label>
                    <input type="text" name="password" id="password" #password="ngModel" class="form-control" required ngModel>

                </div> -->
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
        </div>

    </div>
</div>