<div class="jumbotron">
    <div class="background">
        <div class="card">
            <div class="card-header">
                <form action="#" method="post">
                    <h4 style="text-align: center; color: beige;"> <b>My Profile</b> </h4>
                    <img src="https://cdn.pixabay.com/photo/2016/09/22/13/51/bollywood-1687410_1280.jpg" height="70%" width="70%">
                    <div class="card-body font-weight-bold" style="text-align: center; color: beige;">
                        <div class="form-row">

                        </div>
                        <span>&nbsp;</span>
                        <div class="form-row">
                            <div class="col-md-10">
                                <label for="userName"> Name: {{userName}}</label>

                            </div>
                        </div>
                        <span>&nbsp;</span>
                        <div class="form-row">
                            <div class="col-md-10">
                                <label for="dateOfBirth">D.O.B: {{dateOfBirth}}</label>

                            </div>
                        </div>
                        <span>&nbsp;</span>
                        <div class="form-row">
                            <div class="col-md-10">
                                <label for="contact">Contact No. : {{contact}}</label>
                            </div>
                        </div>
                        <span>&nbsp;&nbsp;</span>
                    
                        <button class="button" routerLink="/update-contact"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Update</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>