<div class="image" style="background-image: url('https://www.itl.cat/pngfile/big/55-556325_plain-simple-wallpapers-simple-plain-background-hd.jpg');  
background-size: cover; padding-top: 50px; padding-bottom: 30%;">

    <div class="alert alert-success" *ngIf='success'>{{success}}
        <span class="float-right">
        <button (click)='deleteMessage()'>&times;</button>
    </span>
    </div>
    <h2 class="font-weight-bold text-center text-light">
      Manager Details
    </h2>
    <div class="col-md-9">
        <table class="table table-bordered mt-3" style="margin-left: 15%; margin-right: 20px;">
            <thead class="thead text-center">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Password</th>
                    <th scope="col">Role</th>
                    <th scope="col">Name</th> 
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor='let manager of managers'>
                    <tr *ngIf='manager.role != "admin" && manager.role!="investor"'>
                        <td>{{manager.userId}}</td>
                        <td>{{manager.email}}</td>
                        <td>{{manager.password}}</td>
                        <td>{{manager.role}}</td>
                        <td>{{manager.name}}</td>    
                        <td><button class="btn btn-outline-success" (click)='selectManager(manager)'>
                            Update
                        </button></td>
                        <td>
                            <img style="margin-left: 15px " height="40px " width="50px " src="https://cdn.pixabay.com/photo/2016/10/10/01/49/delete-1727486__340.png" (click)=' deleteUser(manager)'>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>