<div class="vid-container">
    <video class="bgvid" autoplay="autoplay" muted="muted" preload="auto" loop>
        <source src="https://player.vimeo.com/external/295718400.sd.mp4?s=a199dd22a8ae897875dd243f4cfc50fdc8683580&profile_id=164" type="video/webm">
    </video>
    <div class="inner-container">
      <video class="bgvid inner" autoplay="autoplay" muted="muted" preload="auto" loop>
        <source src="https://player.vimeo.com/external/166335957.sd.mp4?s=2bb992f56e6dc915a90065327d2884b3d6672a4d&profile_id=164" type="video/webm">
      </video>
      <div class="box">
        <h1><i class="fa fa-user"></i> Login Here!!</h1>
        <input type="email" placeholder="Email"/>
        <input type="password" placeholder="Password"/>
        <button class="btn" style="background-color: dodgerblue;"><i class="fa fa-sign-in"></i> Login</button>
        <!-- <p>Not a member? <span>Sign Up</span></p> -->
      </div>
    </div>
  </div>