<div class="alert alert-success" *ngIf='success'>{{success}}</div>
<div class="alert alert-danger" *ngIf='failure'>{{failure}}</div>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center font-weight-bold text-success">
                    <h2>Update Haulier Details</h2>
                </div>
                <div class="card-body">
                    <form #editHaulierForm='ngForm' (ngSubmit)='updateHaulier(editHaulierForm)'>

                        <input type="hidden" name="haulierId" id="haulierId" #haulierId="ngModel" class="form-control" required [(ngModel)]='userService.selectedHaulierToUpdate.haulierId'>

                        <div class="form-group ">
                            <label for="haulierName" class="text-dark font-weight-bold">Haulier Name</label>
                            <input type="text" name="haulierName" id="haulierName" #haulierName="ngModel" class="form-control" required pattern="[A-Za-z]{5,20}" [(ngModel)]='userService.selectedHaulierToUpdate.haulierName'>
                            <div class="text-danger" *ngIf='haulierName.invalid && haulierName.touched'>
                                <div class="text-danger" *ngIf='haulierName.errors.required'>
                                    This feild is mandatory
                                </div>
                                <div class="text-danger" *ngIf='haulierName.errors.pattern'>
                                    It will accept upper and lower case characters and minimum 5 maximum 20 letters
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="address1" class="text-dark font-weight-bold">Street address1</label>
                            <input type="text" name="address1" id="address1" #address1="ngModel" class="form-control" pattern="^[#.0-9a-zA-Z\s,-]+$" required [(ngModel)]='userService.selectedHaulierToUpdate.address1'>
                            <div class="text-danger" *ngIf='address1.invalid && address1.touched'>
                                <div class="text-danger" *ngIf='address1.errors.required'>
                                    This feild is mandatory
                                </div>
                                <div class="text-danger" *ngIf='address1.errors.pattern'>
                                    sample type: #1, North Street, Chennai - 11
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address2" class="text-dark font-weight-bold">Street address2</label>
                            <input type="text" name="address2" id="address2" #address2="ngModel" class="form-control" [(ngModel)]='userService.selectedHaulierToUpdate.address2'>
                        </div>
                        <div class="form-group">
                            <label for="town" class="text-dark font-weight-bold">Town</label>
                            <input type="text" name="town" id="town" #town="ngModel" class="form-control" pattern="[A-Za-z0-9]{5,20}" required [(ngModel)]='userService.selectedHaulierToUpdate.town'>
                            <div class="text-danger" *ngIf='town.invalid && town.touched'>
                                <div class="text-danger" *ngIf='town.errors.required'>
                                    This feild is mandatory
                                </div>
                                <div class="text-danger" *ngIf='town.errors.pattern'>
                                    It should contains only letters or numbers, Length is min 5 and max 20 characters
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="postalCode" class="text-dark font-weight-bold">Postal Code</label>
                            <input type="text" name="postalCode" id="postalCode" #postalCode="ngModel" pattern="([0-9]{6}|[0-9]{3}\s[0-9]{3})" class="form-control" required [(ngModel)]='userService.selectedHaulierToUpdate.postalCode'>
                            <div class="text-danger" *ngIf='postalCode.invalid && postalCode.touched'>
                                <div class="text-danger" *ngIf='postalCode.errors.required'>
                                    This feild is mandatory
                                </div>
                                <div class="text-danger" *ngIf='postalCode.errors.pattern'>
                                    Code should be separated by space after 3 digit or other is code is written in 6 digit.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-dark font-weight-bold">Email</label>
                            <input type="text" name="email" id="email" email #email="ngModel" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" class="form-control" required [(ngModel)]='userService.selectedHaulierToUpdate.email'>
                            <div class="text-danger" *ngIf='email.invalid && email.touched'>
                                <div class="text-danger" *ngIf='email.errors.required'>
                                    This feild is mandatory
                                </div>
                                <div class="text-danger" *ngIf='email.errors.pattern'>
                                    Email must be a valid email address
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="telephone" class="text-dark font-weight-bold">Mobile</label>
                            <input type="text" name="telephone" id="telephone" #telephone="ngModel" pattern="^[6-9][0-9]{9}$" class="form-control" required [(ngModel)]='userService.selectedHaulierToUpdate.telephone'>
                            <div class="text-danger" *ngIf='telephone.invalid && telephone.touched'>
                                <div class="text-danger" *ngIf='telephone.errors.required'>
                                    This feild is mandatory
                                </div>
                                <div class="text-danger" *ngIf='telephone.errors.pattern'>
                                    It should be in 10 digits number format
                                </div>
                            </div>
                        </div>
                        <br>
                        <div>
                            <button [disabled]='editHaulierForm.form.invalid' type="submit" class="btn btn-lg btn-block btn-success btn-block">
                        Update Haulier
                        </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>