<div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div><div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only">Loading...</span>
</div>
<marquee id="myMarquee" behavior="alternate">
<div class="card-deck">
    <div class="card">
      <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/KGF-2-App-poster-608x800-a-ca543ffb-3083-4a4f-834a-240085bf3483.jpg" alt="K.G.F. Chapter 2" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">K.G.F. Chapter2</h5>
            <p>Kannada</p>
            <a href="https://www.youtube.com/watch?v=CybPK5iXX90" target="_blank">Watch Exclusive Trailer!!!</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 1 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/Thalaivi-with-new-tab-App-poster-608x800-90f89753-0365-4035-bfe1-808549dbaffb.jpg" alt="Thalaivi" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">Thalaivi</h5>
        <p>Hindi</p>
        <a href="https://www.youtube.com/watch?v=Ff5tOd2WHB0" target="_blank">Watch Exclusive Trailer!!!</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 8 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/F9-608x800-App-poster-608x800-26772546-9ef8-416e-b485-0a2bcdc44efd.jpg" alt="F9: The Fast Saga" class="card-img-top" >
      <div class="card-body">
        <h5 class="card-title">F9:The Fast Saga</h5>
        <p>English</p>  
        <a href="https://www.youtube.com/watch?v=aSiDu3Ywi8E"target="_blank">Watch Exclusive Trailer!!!</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 10 mins ago</small>
      </div>
    </div>
    <div class="card">
        <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/Top-Gun--Maverick-App-608x800-f49bbc0e-3be2-423c-9211-5c2405cb2f49.jpg" alt="Top Gun: Maverick"class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">Top Gun:Maverick</h5>
          <p>English</p>
          <a href="https://www.youtube.com/watch?v=g4U4BQW9OEk" target="_blank">Watch Exclusive Trailer!!!</a>
          </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 15 mins ago</small>
        </div>
      </div>
      <div class="card">
        <img src="https://s3-ap-southeast-1.amazonaws.com/assets.paytm.com/images/cinema/My-Spy-with-tag-App-poster-608x800-ab79989a-c718-4924-96e3-20047cb81fc7.jpg" alt="My Spy" class="card-img-top" >
        <div class="card-body">
          <h5 class="card-title">My Spy</h5>
          <p>English</p>
          <a href="https://www.youtube.com/watch?v=dFGYK-iRMgw" target="_blank">Watch Exclusive Trailer!!!</a>
          </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 20 mins ago</small>
        </div>
      </div>
  </div>
</marquee>

<div>
<img src="https://img.youtube.com/vi/dyzraT_np8w/0.jpg" alt="Soorarai Pottru - Teaser (Tamil)" title="Soorarai Pottru - Teaser (Tamil)" style="height: 100px;weight:500px; padding-left: 25px;" >
<img src="https://img.youtube.com/vi/ybji16u608U/0.jpg" alt="Black Widow (English)" title="Black Widow (English)" style="height: 100px;weight:500px;">
<img src="https://img.youtube.com/vi/2_BkCz3OnlY/0.jpg" alt="RRR Teaser (Telugu)" title="RRR Teaser (Telugu)" style="height: 100px;weight:500px;">
<img src="https://img.youtube.com/vi/45lj-bGVOHE/0.jpg" alt="Jhund (Hindi)" title="Jhund (Hindi)"style="height: 100px;weight:500px;" > 
<img src="https://img.youtube.com/vi/LdOM0x0XDMo/0.jpg" alt="Tenet (English)" title="Tenet (English)" style="height: 100px;weight:500px;">
<img src="https://img.youtube.com/vi/0vbgP_ohzkI/0.jpg" alt="Greyhound (English)" title="Greyhound (English)" style="height: 100px;weight:500px;">
<img src="https://img.youtube.com/vi/u5r77-OQwa8/0.jpg" alt="Sooryavanshi (Hindi)" title="Sooryavanshi (Hindi)" style="height: 100px;weight:500px;">
<img src="https://img.youtube.com/vi/Ff5tOd2WHB0/0.jpg" alt="Thalaivi (Tamil)" title="Thalaivi (Tamil)" style="height: 100px;weight:500px;">
<img src="https://img.youtube.com/vi/PGQvvmkIxo4/0.jpg" alt="INOX | Shubh Mangal Zyada Saavdhan" title="INOX | Shubh Mangal Zyada Saavdhan"  style="height: 100px;weight:500px;" >
<img src="https://img.youtube.com/vi/cavzF7O-OMc/0.jpg" alt="INOX Movies | Exclusive Angrezi Medium class at INOX Megaplex" title="INOX Movies | Exclusive Angrezi Medium class at INOX Megaplex" style="height: 100px;weight:500px;">
<img src="https://img.youtube.com/vi/QJQ3s9B-y68/0.jpg" alt="Thappad Movie - Special Screening at INOX Megaplex, Malad" title="Thappad Movie - Special Screening at INOX Megaplex, Malad"style="height: 100px;weight:500px;" >
</div>