<link routerLink="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<header class="ccheader" style="padding-top: 7%;">
    <h1>Contact Us</h1>	
</header>

<div class="wrapper">
    <form method="post" action="" class="ccform">
    <div class="ccfield-prepend">
        <span class="ccform-addon"><i class="fa fa-user fa-2x"></i></span>
        <input class="ccformfield" type="text" placeholder="Full Name" required>
    </div>
    <div class="ccfield-prepend">
        <span class="ccform-addon"><i class="fa fa-envelope fa-2x"></i></span>
        <input class="ccformfield" type="text" placeholder="Email" required>
    </div>
    <div class="ccfield-prepend">
        <span class="ccform-addon"><i class="fa fa-mobile-phone fa-2x"></i></span>
        <input class="ccformfield" type="text" placeholder="Phone">
    </div>
     <div class="ccfield-prepend">
        <span class="ccform-addon"><i class="fa fa-info fa-2x"></i></span>
        <input class="ccformfield" type="text" placeholder="Subject" required>
    </div>
    <div class="ccfield-prepend">
        <span class="ccform-addon"><i class="fa fa-comment fa-2x"></i></span>
        <textarea class="ccformfield" name="comments" rows="8" placeholder="Message" required></textarea>
    </div>
    <!-- <div class="ccfield-prepend"> -->
        <input class="ccbtn" type="submit" value="Submit">
    <!-- </div> -->
    </form>
</div>

<!-- Load font awesome icons -->
<link rel="stylesheet" routerLink="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- The social media icon bar -->
<div class="icon-bar">
  <a routerLink="" class="facebook"><i class="fa fa-facebook"></i></a>
  <a routerLink="" class="twitter"><i class="fa fa-twitter"></i></a>
  <a routerLink="" class="google"><i class="fa fa-google"></i></a>
  <a routerLink="" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a routerLink="" class="youtube"><i class="fa fa-youtube"></i></a>
</div>

