<div class="background">
    <div class="top">
        <div class="card">
            <div class="card-header">
                <h4>Mission</h4>
            </div>
            <div class="card-body">
                <p style="color: black;">
                    A key purpose of stock control is to minimise stocks and the costs of holding stocks, while ensuring that firms have sufficient stocks to meet investor needs.
                </p>
            </div>
        </div>
    </div>
    <div class="container marketing">
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://cdn.pixabay.com/photo/2018/04/19/19/40/stocks-3334074_1280.jpg" alt=" image" width="140" height="140" style="margin-left: 20% ;">
            <h2>Company Manager</h2>
            <p>The role of a Company Manager is to supervise and lead a company's operations and employees.
            </p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://cdn.pixabay.com/photo/2016/11/11/10/45/forex-1816365_960_720.jpg" alt=" image" width="140" height="140" style="margin-left: 20% ;">
            <h2>Investor</h2>
            <p>Investment bankers help their clients raise money in capital markets by issuing debt or selling equity in the companies</p>
        </div>
    </div>
</div>
<div class="card-footer  border-dark" style="background-color: rgb(22, 22, 44);">
    <p style="color: wheat;">&copy; 2020,Stock Management System -Terms of Service, Privacy Policy</p>
</div>
<div class="social-icons">
    <i class="fa fa-facebook" aria-hidden="true" style="font-size: 2rem;"></i>
    <i class="fa fa-twitter" aria-hidden="true" style="font-size: 2rem;"></i>
    <i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 2rem;"></i>
    <i class="fa fa-pinterest" aria-hidden="true" style="font-size: 2rem;"></i>
    <i class="fa fa-instagram" aria-hidden="true" style="font-size: 2rem;"></i>
</div>