<div class="jumbotron">
    <div class="background">
        <div class="card">
            <div class="card-header">
                <form action="#" method="post">
                    <h4 style="text-align: center; color: beige;"> <b>My Profile</b> </h4>
                    <img src="https://cdn.pixabay.com/photo/2018/05/18/11/05/business-angel-3410930_1280.jpg" height="70%" width="70%">
                    <div class="card-body font-weight-bold" style="text-align: center; color: beige;">
                        <div class="form-row">

                        </div>
                        <span>&nbsp;</span>
                        <div class="form-row">
                            <div class="col-md-10">
                                <label for="name"> Name: {{name}}</label>

                            </div>
                        </div>
                        <span>&nbsp;</span>
                        <div class="form-row">
                            <div class="col-md-10">
                                <label for="email">Email: {{email}}</label>

                            </div>
                        </div>
                        <span>&nbsp;</span>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>