<div class="image" style="background-image: url('https://pixabay.com/get/54e2d540434fb14cf6dc8d7ac52a327b083edbed5354724b75277a/architecture-22039.jpg');  
background-size: cover; padding-top: 2%; padding-bottom: 8%;">
    <div class="alert alert-success" *ngIf='success'>{{success}}</div>
    <div class="alert alert-danger" *ngIf='failure'>{{failure}}</div>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6 offset-md-6">
                <div class="card">
                    <div class="card-header text-center font-weight-bold text-success">
                        <h2>Add Company Details</h2>
                    </div>
                    <div class="card-body">
                        <form #addCompanyForm='ngForm' (ngSubmit)='addCompany(addCompanyForm)'>
                            <div class="form-group mt-3">
                                <label for="companyId" class="text-dark font-weight-bold">Company Id <span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="companyId" #companyId="ngModel" ngModel name="companyId" minlength="1" maxlength="5" required pattern="[1-9]{1}[0-9]{0,4}">
                                <!-- <div class="text-danger" *ngIf='companyId.invalid && companyId.touched'>
                                    <div class="text-danger" *ngIf='companyId.errors.required'>
                                        This feild is mandatory
                                    </div>
                                    <div class="text-danger" *ngIf='companyId.errors.pattern'>
                                        First digit should not starts with 0
                                    </div>
                                </div> -->
                            </div>
                            <div class="form-group mt-3">
                                <label for="companyName" class="text-dark font-weight-bold">Company Name <span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="companyName" #companyName="ngModel" ngModel name="companyName" required pattern="[A-Za-z]{5,20}">
                                <!-- <div class="text-danger" *ngIf='companyName.invalid && companyName.touched'>
                                    <div class="text-danger" *ngIf='companyName.errors.required'>
                                        This feild is mandatory
                                    </div>
                                    <div class="text-danger" *ngIf='companyName.errors.pattern'>
                                        It will accept upper and lower case characters and minimum 5 maximum 20 letters
                                    </div>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <label for="stockAvailability" class="text-dark font-weight-bold">Stock Availability <span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="stockAvailability" #stockAvailability="ngModel" ngModel name="stockAvailability" required pattern="[0-9]{5,20}">
                                <!-- <div class="text-danger" *ngIf='stockAvailability.invalid && stockAvailability.touched'>
                                    <div class="text-danger" *ngIf='stockAvailability.errors.required'>
                                        This feild is mandatory
                                    </div>
                                    <div class="text-danger" *ngIf='stockAvailability.errors.pattern'>
                                        It will accept minimum 5 maximum 20 digits
                                    </div>
                                </div>              -->
                            </div>
                            <div class="form-group">
                                <label for="quantity" class="text-dark font-weight-bold">Quantity Available<span style="color:red">*</span></label>
                                <input type="text" class="form-control" id="quantity" #quantity="ngModel" ngModel name="quantity" required pattern="[0-9]{5,20}">
                                <!-- <div class="text-danger" *ngIf='quantity.invalid && quantity.touched'>
                                    <div class="text-danger" *ngIf='quantity.errors.required'>
                                        This feild is mandatory
                                    </div>
                                    <div class="text-danger" *ngIf='quantity.errors.pattern'>
                                        It will accept minimum 5 maximum 20 digits
                                    </div>
                                </div>              -->
                            </div>

                            <div>
                                <button type="submit" class="btn btn-success btn-lg btn-block float-right mt-4">Add Company</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    